.content
  padding: 20px 20px 50px 20px
  border-radius: 10px
  background-color: #ffffff

  &__wrap
    margin-bottom: 15px
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center

    h1
      letter-spacing: -.5px

  &.is-inner-1
    .banner.with-border
      float: left

  &.is-inner-2
    h2
      letter-spacing: -.4px