.items
  display: flex
  flex-direction: row
  justify-content: flex-start
  flex-wrap: wrap

.item
  margin-bottom: 15px
  margin-right: 15px
  width: 182px
  display: flex
  flex-direction: column
  color: #2e2e2e

  &:hover
    color: #1976d2

  &:nth-child(5n)
    margin-right: 0

  &__img
    border-radius: 10px

  &__name
    margin-top: 8px
    text-align: center