.items
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: space-between

.item
  margin-bottom: 20px
  width: 182px
  display: flex
  flex-direction: column
  color: #2e2e2e

  &:hover
    color: #1976d2

  &__img
    border-radius: 10px

  &__name
    margin-top: 8px
    text-align: center